body
{
	background-color: rgb(0,0,0,0.9);
    color:white;
    position: relative;
	font-family: "courier new", trebuchet MS,  "Comic Sans MS ";   

}
h1 {
    color:orange;
	font-size:60px;
	font-family:Impact, "Arial Black", Arial, Verdana, sans-serif;
	text-align: center;
    border: 15px rgb(17,123,147,0.7) inset;
    border-radius: 10px;
}
img {
    height: 200px;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 4em;
}
q:hover
{
	font-size:24px;
	font-family: "Arial Black", Gadget, sans-serif;
    text-align: justify;
   
}
h2 {
    padding-top: 175px;
}
h2:hover {
    font-size:24px;
	font-family: "Arial Black", Gadget, sans-serif;
    text-align: justify;

}
table {
    border-collapse: collapse;
}
th, td{
    border: 1px solid orange;
}
th {
    background-color: rgb(2, 49, 49);
}
ul {
    list-style-type: square;
}
h4 {
    color:rgb(211, 117, 211);
    text-align: center;
}
p {
    color: rgb(247, 218, 89);
    text-align: center;
}
h5 {
    color: rgb(211, 117, 211);
    text-align: center;
}
h6 {
    color: rgb(102, 151, 5);
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
}